*{
    margin: 0;
}

#nav-menu {
    background-color: rgb(30, 210, 81);
    height: 4em;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#menu-check {
    display: none;
}

#menu-check:checked~#drop-menu {
    display: flex;
    flex-direction: column;
}
#drop-menu>button:hover {
    background-color: red;
}

.headerfor #nav-menu h1{
    text-align: center;
}

div #logo {
    width: 70px;
    margin-left: 0.5rem;
    
}

#form-registro{
    text-align: center;
}




h1{
    text-align: center;
    /* margin-bottom: 21px; */
    font-family: "Roboto", sans-serif;
    color:rgb(0, 255, 72);
    font-weight: bolder;
    font-size: 2em;
    flex-direction: column; 
}


body {
    background-color: rgb(242, 242, 242);
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


#btn-submit-form {
    width: 10rem;
    padding: 0.5rem;
    text-align: center;
    background-color: rgb(0, 255, 30);
    border-radius: 40px;
    color: rgb(0, 0, 0);
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    /* text-shadow: 1px 1px 1px rgb(0, 0, 0); */
}
#btn-submit-form:hover {
    
    cursor: pointer;
    background-color: rgb(27, 201, 0);
    text-shadow: 1px 1px 1px rgb(97, 201, 23);
    color: rgb(255, 255, 255);
}

/* Resoluciones de dispositivos 
320px — 480px: Mobile devices
481px — 768px: iPads, Tablets
769px — 1024px: Small screens, laptops
1025px — 1200px: Desktops, large screens
1201px and more —  Extra large screens, TV
*/

/* Dispositivos con pantalla menor a 320px */
@media only screen and (max-width: 320px) {
    body {
        background-color: rgb(255, 123, 0);
        color: pink;
    }
    /* p:last-child {
        display: block;
    } */
}
/* 320px — 480px: Mobile devices */
@media only screen and (min-width: 320px) and (max-width: 480px) {
    body {
        background-color: purple;
        color: pink;
    }
    /* p:last-child {
        display: block;
    } */
}

/* 481px — 768px: iPads, Tablets */
@media only screen and (min-width: 481px) and (max-width: 768px) {
    body {
        background-color: #4361ee;
        color: rgb(0, 21, 128);
    }
    /* p:nth-child(2) {
        display: block;
    } */
}
/* 769px — 1024px: Small screens, laptops */
@media only screen and (min-width: 769px) and (max-width: 1024px) {
    body {
        background-color: #4361ee;
        color: rgb(0, 90, 128);
    }
    /* p:nth-child(2) {
        display: block;
    } */
}

/* 1025px — 1200px: Desktops, large screens */
@media only screen and (min-width: 1025px) and (max-width: 1200px) {
    body {
        background-color: #02892d;
        color: purple;
    }
    /* p:nth-child(2) {
        display: block;
    } */
}

/* 1201px and more —  Extra large screens, TV, Desktop */ 
@media only screen and (min-width: 1201px) {
    body {
        background-color: rgb(255, 166, 0);
        color: beige;
    }
}